{{#file-uploader dropped-files=(action "droppedFiles")}}
  <div class="header-row">
    {{#link-to 'albums' classNames="back-icon"}}{{fa-icon "arrow-left"}}{{/link-to}}
    <h2>{{album.name}}</h2>
    <div class="edit-icon" {{action "editAlbum"}}>{{fa-icon "cog"}}</div>
    {{search-field}}
  </div>

  <div class="album-photos">
    {{#if isLoadingPhotos}}
      <div class="loading-photos">
        <span class="animated-ellipsis">Loading Photos</span>
      </div>
    {{else}}
      {{#if isUploading}}
        <div class="uploading-photo">
          <div class="inner">
            {{fa-icon "refresh" classNames="spinning" size=2}}
          </div>
        </div>
      {{/if}}
      {{#each photos as |photo|}}
        {{photo-list-item photo=photo on-click=(action "selectPhoto" photo)}}
      {{else}}
        <div class="empty-photos">
        </div>
      {{/each}}
    {{/if}}
  </div>

  {{photo-details photo=selectedPhoto collapseDetails=(action "selectPhoto" null)}}
{{/file-uploader}}

{{#modal-wrapper classNames="edit-album-modal" visible=showEditAlbumModal on-close=(action "hideEditAlbum")}}
  <h3>Edit Album</h3>
  <div class="input-row">
    {{input value=album.name placeholder="Album Name" disabled=isSavingAlbum}}
  </div>
  <div class="button-row">
    <button disabled={{isSavingAlbum}} class="delete-button" {{action "deleteAlbum"}}>Delete</button>
    <button disabled={{isSavingAlbum}} {{action "saveAlbum"}}>Save</button>
  </div>
{{/modal-wrapper}}
