<h2>Albums</h2>

<div class="album-list">
  {{album-create-item on-click=(action "showCreateAlbum")}}
  {{#each albums as |album|}}
    {{#link-to "album" album.id}}
      {{album-list-item album=album}}
    {{/link-to}}
  {{/each}}
</div>

{{#modal-wrapper classNames="new-album-modal" visible=showCreateAlbumModal on-close=(action "hideCreateAlbum")}}
  <h3>New Album</h3>
  <div class="input-row">
    {{input value=newAlbumName placeholder="Album Name" disabled=isCreatingAlbum}}
  </div>
  <div class="button-row">
    <button disabled={{isCreatingAlbum}} {{action "createAlbum"}}>Create</button>
  </div>
{{/modal-wrapper}}
