<div class="header-row">
  {{#link-to 'albums' classNames="back-icon"}}{{fa-icon "arrow-left"}}{{/link-to}}
  <h2>Search Results</h2>
  {{search-field}}
</div>

Search Text: {{text}}

<div class="search-list">
  {{#each searchPhotos as |photo|}}
    {{search-list-item photo=photo}}
  {{else}}
    <div class="no-search-results">
      No search results found
    </div>
  {{/each}}
</div>
