<div class="details-header">
  <div class="close-button" {{action "collapseDetails"}}>{{fa-icon "times"}}</div>
  <h3>Photo Details</h3>
  <div class="refresh-button" {{action "refreshPhoto"}}>
    {{fa-icon "refresh" classNameBindings="isRefreshingPhoto:spinning"}}
  </div>
  <div class="docking-arrow {{if isImageDocked 'is-docked'}}" {{action "toggleImageDocking"}}>
    {{fa-icon "arrow-up"}}
  </div>
</div>
<div class="detail-contents">
  <div class="details-image {{if isImageDocked 'is-docked'}}">
    {{#if photo.servingUrl}}
      {{hpis-image height=400 url=photo.servingUrl}}
    {{else}}
      {{photo-placeholder larger=true photo=photo}}
    {{/if}}
  </div>

  <div class="detail-list">
    <div class="detail-row">
      <span class="label">Photo Name:</span>
      <span class="value">{{photo.photoName}}</span>
    </div>
    <div class="detail-row">
      <span class="label">Created On:</span>
      <span class="value">{{photo.createdOn}}</span>
    </div>
    <div class="detail-row">
      <span class="label">Album Id:</span>
      <span class="value">{{photo.album.id}}</span>
    </div>
    <div class="detail-row">
      <span class="label">Album Name:</span>
      <span class="value">{{photo.album.name}}</span>
    </div>
    <div class="detail-row">
      <span class="label">BlobKey:</span>
      <span class="value">{{photo.blobKey}}</span>
    </div>
    <div class="detail-row">
      <span class="label">Content Type:</span>
      <span class="value">{{photo.content}}</span>
    </div>
    <div class="detail-row">
      <span class="label">Filename:</span>
      <span class="value">{{photo.filename}}</span>
    </div>
    <div class="detail-row">
      <span class="label">File size:</span>
      <span class="value">{{photo.filesize}}</span>
    </div>
    <div class="detail-row">
      <span class="label">GCS Path:</span>
      <span class="value">{{photo.gcsPath}}</span>
    </div>
    <div class="detail-row">
      <span class="label">MD5:</span>
      <span class="value">{{photo.md5}}</span>
    </div>
    <div class="detail-row">
      <span class="label">Serving URL:</span>
      <span class="value">{{photo.servingUrl}}</span>
    </div>
  </div>

  {{#if photo.hasAnalysisVision}}
    {{photo-details-analysis-items label="Labels" type="vision" items=selectedVisionData.labels isLoading=isLoadingAnalysisVision}}
    {{photo-details-analysis-items label="Landmarks" type="vision" items=selectedVisionData.landmarks isLoading=isLoadingAnalysisVision}}
    {{photo-details-analysis-items label="Logos" type="vision" items=selectedVisionData.logos isLoading=isLoadingAnalysisVision}}
    {{photo-details-analysis-items label="Text" type="vision" items=selectedVisionData.texts isLoading=isLoadingAnalysisVision}}
  {{else if photo.hasAnalysisSpeech}}
    {{photo-details-analysis-transcript transcript=selectedSpeechData.transcript isLoading=isLoadingAnalysisSpeech}}
    {{photo-details-analysis-items label="Entities" type="speech" items=selectedSpeechData.entity isLoading=isLoadingAnalysisSpeech}}
  {{else if photo.hasAnalysisVideoIntel}}
    {{photo-details-analysis-items label="Segments" type="videoIntel" items=selectedVideoIntelData.segments isLoading=isLoadingAnalysisVideo}}
    {{photo-details-analysis-items label="Shots" type="videoIntel" items=selectedVideoIntelData.shots isLoading=isLoadingAnalysisVideo}}
    {{photo-details-analysis-items label="Frames" type="videoIntel" items=selectedVideoIntelData.frames isLoading=isLoadingAnalysisVideo}}
  {{/if}}
</div>
