<h4>{{typePrefix}} Labels</h4>

{{#if isLoading}}
  <span class="no-analysis-data">Loading Data ...</span>
{{else if filteredItems}}
  <table>
    <tr>
      <th>{{#if isSpeech}}Name{{else}}Description{{/if}}</th>
      <th>MID</th>
      <th>{{#if isSpeech}}Salience{{else}}Score{{/if}}</th>
    </tr>
    {{#each filteredItems as |analysisItem|}}
      <tr>
        <th>
          {{#if isSpeech}}
            {{#if analysisItem.wikipediaUrl}}
              <a href="{{analysisItem.wikipediaUrl}}" target="_blank">{{analysisItem.name}}</a>
            {{else}}
              {{analysisItem.name}}
            {{/if}}
          {{else}}
            {{analysisItem.description}}
          {{/if}}
        </th>
        <td>{{analysisItem.mid}}</td>
        <th>{{#if isSpeech}}{{analysisItem.salience}}{{else}}{{analysisItem.score}}{{/if}}</th>
      </tr>
    {{/each}}
  </table>

  {{#if canExpandCollapse}}
    <div class="collapse-toggle" {{action "toggleCollapse"}}>
      <span>{{#if isCollapsed}}Expand{{else}}Collapse{{/if}}</span>
    </div>
  {{/if}}
{{else}}
  <span class="no-analysis-data">No {{typePrefix}} Data</span>
{{/if}}
